* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Source Sans 3', sans-serif;
}
body {
    background-image: url(./assets/images/background.png); 
    background-repeat: no-repeat;
}
header{
    width: 70%;
    margin: 0 auto;
    margin-top: 35px;
}
.links{
color: white;
text-decoration: none;
margin-right: 50px;
}
.feel {
    text-align: center;
    color: white;
    font-size: 120px;
    margin-bottom: 50px;
    margin-top: 155px;
} 
.effect{
    text-align: center;
    color: white;
    margin-top: -4rem;
    margin-left: 11rem;
    word-spacing: 57px;
}
.button{
    border-radius: 22px;
    border: 1px solid #C271FF;
    background: #C271FF;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    color: white;
    margin-left: 41rem;
    margin-top: 38px;
}
.pros{
    text-align: center;
    margin-top: 186px;
    margin-left: 220px;
}
span {
    color: #C271FF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.from{
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.meet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.Person{
    width: 150px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px; /* 150% */
}
.title{
    width: 150px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.nsec{
    display: flex;
    background-color: #C271FF;
    height: 392px;
    margin-top: 5rem;
}

.nsec div {
    width: 943px;
    height: 160px;
    top: 1201px;
}

.nsec img{
    padding-top: 8.5rem;
    padding-left: 18rem;
}
.Tquote{
    text-align: left;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 16px;
    margin: 8rem 20rem 0 -2.5%;
    padding-right: -6rem;
    font-weight: 200;
    width: 100px;
    line-height: 33.6px;
}
.Name{
    margin-top: 1.5rem;
    font-weight: 600;
}
.pname{
    font-style: italic;
    font-size: 16px;
}
.tutorials{
    background-color: #FFF;
}
.tutorials h1{
    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 30px 7rem 70px 7rem;
} 

.PopT {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 7rem 70px 7rem;
}

.PopT h2 {
    color: #071629;
    font-size: 17px;
    font-weight: 700;
    margin-top: 1rem;
    word-wrap: break-word;
}

.PopT p {
    color: rgba(7, 22, 41, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 1rem;
}

.img {
    display: flex;
    flex-direction: row;
}

.img img {
    margin: 15px 11px 15px 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.img h3 {
    margin-top: 15px;
    color: #C271FF;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
}

.stars {
    display: flex;
    flex-direction: row;
}

.stars p {
    margin: -4px 0 0 90px;
    color: #C271FF;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
}

 .membership{
    background-color: #071629;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 100px;
    color: #FFF;
}
.membership-div{
    background-color: #071629;
    width: 1000px;
    height: 160px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100;
    margin: 5% 0;
}
 .second-btn{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C271FF;
    border-radius: 22px;
    background: #C271FF;
    box-shadow: 0px 2px 20px 0px;
    width: 140px;
    height: 44px;
    margin-left: 
    45%; 
} 

.faq{
    background-color: #FFF;
    width: 1000px;
    height: 160px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: justify;
    width: 100;
    margin: 5% 0;
    /* width: 920px;
    height: 707px;
    flex-shrink: 0;
    align-items: center;
    display: inline-block; */
}
